In [2]:
import pandas

In [6]:
# 엑셀 데이터 가져오기
data = {
  '이름' : ['김자바', '이자바', '박자반', '최자바', '정자바'],
  '학급' : ['자바반', '자바반', '자바반', '캐드반', '캐드반'],
  '국어점수' : [90, 80, 70, 100, 90],
  '영어점수' : [70, 80, 80, 70, 90],
  '평균' : [80.0, 80.0, 75.0, 85.0, 90.0],
  '취미' : ['독서', '', '', '요가', '축구']
}

In [7]:
# df 자료의 기본적인 통계 데이터 보기
df = pandas.DataFrame(data)
df

    이름   학급  국어점수  영어점수    평균  취미
0  김자바  자바반    90    70  80.0  독서
1  이자바  자바반    80    80  80.0
2  박자반  자바반    70    80  75.0
3  최자바  캐드반   100    70  85.0  요가
4  정자바  캐드반    90    90  90.0  축구

In [10]:
df.describe()

             국어점수     영어점수         평균
count    5.000000   5.0000   5.000000
mean    86.000000  78.0000  82.000000
std     11.401754   8.3666   5.700877
min     70.000000  70.0000  75.000000
25%     80.000000  70.0000  80.000000
50%     90.000000  80.0000  80.000000
75%     90.000000  80.0000  85.000000
max    100.000000  90.0000  90.000000

In [9]:
# 처음 5개의 데이터만 조회
# head() 함수에 매개변수가 없으면 기본적으로 5개 조회, 매개변수값을 넣으면 그 수만큼 조회
df.head(3)

    이름   학급  국어점수  영어점수    평균  취미
0  김자바  자바반    90    70  80.0  독서
1  이자바  자바반    80    80  80.0
2  박자반  자바반    70    80  75.0

In [17]:
# 특정 컬럼에 대한 통계 데이터 조회

# 국어점수의 최소값을 조회
df['국어점수'].min()
df['국어점수'].max()
df['국어점수'].mean()
df['국어점수'].sum()
df['국어점수'].count()

np.int64(5)