In [2]:
# 파이썬은 for-each문만 존재함

for i in [1,2,3,4] : 
  print(i*2)

2
4
6
8

In [3]:
for i in [1,2,3,4,5,] : 
  if i > 3 : 
    print(i)

4
5

In [5]:
# range(a, b) : a부터 b 이전까지 숫자를 1씩 증가시키며 나열하는 함수
# range(5) : 첫번째 매개변수를 0으로 지정, () <- 괄호 안에 들어간 숫자 만큼 반복한다고 생각.

for i in range(5) : 
  print(i)

0
1
2
3
4

In [15]:
# 1. 1~10까지의 정수 중 짝수의 개수 출력

cnt = 0

for i in range(1, 10) :
  if i % 2 == 0 :
    cnt = cnt +1
print(cnt)

4

In [22]:
# 2. 1~20까지의 정수 중에서 3의 배수의 갯수를 출력하고, 3의 배수도 모두 출력

cnt = 0

for i in range(1, 20) :
  if i % 3 == 0 :
    cnt += 1
    print(i, end=' ')

print(cnt)

3 6 9 12 15 18 6

In [20]:
# 3. 키보드로 입력받은 두 정수 사이(입력받은 정수는 미포함)의 모든 수의 합을 출력
num1 = int(input())
num2 = int(input())
sum = 0
if num1 > num2 :
  for i in range(num2+1, num1) :
    sum += i
elif num2 > num1 : 
  for i in range(num1+1, num2) :
    sum += i
print(sum)

0

In [23]:
# 3. 키보드로 입력받은 두 정수 사이(입력받은 정수는 미포함)의 모든 수의 합을 출력
num1 = int(input())
num2 = int(input())

# 큰 수, 작은 수 삼항연산자로 계산
# 자바 : 조건 ? 참일때 값 : 거짓일 때 값
# 파이썬 : 참일때 값 if 조건 else 거짓일 때 값
max = num1 if num1 > num2 else num2
min = num1 if num1 < num2 else num2
sum = 0
for i in range(min +1, max) :
  sum += i
print(sum)

13

In [24]:
# 4. 아래에 제시한 data에서 5가 포함되어 있는지 판단하고,  5가 포함되어 있으면 '포함'을 출력
data = [1,3,5,7,9]

# 자바식 접근법
for i in data : 
  if i == 5 : 
    print('포함')

# 파이썬식 접근법
if 5 in data :
  print('포함')

포함
포함