### 라즈베리파이 사물 제어 IOT 평가

1. 키보드로 두 수를 입력받아 큰 수부터 출력하는 프로그램을 작성하시요. 단, 입력받는 두 수는 중복이 없다고 가정한다.

In [12]:
# 1번 문제 답안 작성
num1 = int(input())
num2 = int(input())
maxValue = 0
minValue = 0

if num1 > num2 :
  maxValue = num1
  minValue = num2
elif num2 > num1 :
  maxValue = num2
  minValue = num1
print(maxValue)
print(minValue)

7
5

2. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오.<br> 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [25]:
# 2번 문제 답안 작성
num3 = int(input())
num4 = int(input())
num5 = int(input())

numList = [num3, num4, num5]

print(max(numList) - min(numList))

41

3. 매개변수로 두 정수를 받아, 두 정수 사이의(두 정수 포함) 모든 정수를 갖는 리스트를 리턴하는 함수를 구현하시오.

In [76]:
# 3번 문제 답안 작성

numList = []

def numReturnFuction(num6, num7) :
  if num6 > num7 :
    maxValue = num6
    minValue = num7
    for i in range(minValue, maxValue+1) :
      numList.append(i)
  elif num7 > num6 :
    maxValue = num7
    minValue = num6
    for i in range(minValue, maxValue+1) :
      numList.append(i)
  return numList


numReturnFuction(int(input()), int(input()))

[3, 4, 5, 6, 7, 8, 9, 10, 11]

4. 아래 제시된 phone 객체에 제조사, 모델명, 가격 정보를 키보드로 입력받아,   
입력받은 내용을 추가하고 phone 정보를 출력하시오.

In [27]:
phone = {}

# 4번 문제 답안 작성

phone['barnd'] = input()
phone['modelName'] = input()
phone['price'] = input()

print(phone)

{'barnd': '삼성', 'modelName': '겔럭시 폴드 2', 'price': '200000'}

5. 아래 데이터는 자바반과 자반에 소속된 학생들의 정보이다.  
나이가 30살 이상인 학생들의 점수의 합을 출력하세요.

In [60]:
javaClass= {
  'calssName' : '자바반',
  'teacher' : '김자바',
  'studentList' : [
    {'name' : '홍길동', 'age': 31, 'score' : 85},
    {'name' : '이순신', 'age': 35, 'score' : 95},
    {'name' : '유관순', 'age': 29, 'score' : 80},
    {'name' : '장영실', 'age': 37, 'score' : 70},
    {'name' : '신사임당', 'age': 25, 'score' : 65},
  ]
}

# 5번 문제 답안 작성

score = 0

for i in javaClass['studentList'] :
  if i['age'] >= 30 :
    score += i['score']

print(score)

250

다음 딕셔너리 데이터를 참고하여 아래 문제들을 해결하시오.

In [3]:
# 2012년 광역시별 25세 미만 연령별 인구 데이터
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

print(population)

{'행정기관': ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'], '0~4세': [214651, 68006, 53515, 69453, 29835], '5~9세': [210833, 68704, 58332, 68555, 29331], '10~14세': [269171, 94802, 91268, 86574, 29035], '15~19세': [335828, 124564, 101110, 106435, 49119], '20~24세': [343797, 125907, 96078, 102297, 43937]}

6. 2012년 기준 대한민국에서 25세 미만의 인구수 중 인구가 가장 많은 연령대를 출력하시오.

In [5]:
# 6번 문제 답안 작성

maxPopulation = 0
maxPopulationAge =''

for i in ['0~4세', '5~9세', '10~14세', '15~19세', '20~24세'] :
  totalPopulation = sum(population[i])
  if totalPopulation > maxPopulation :
    maxPopulation = totalPopulation
    maxPopulationAge = i

print(f'인구수가 가장 많은 나이는 {maxPopulationAge}이고, 인구수 : {maxPopulation}')

인구수가 가장 많은 나이는 15~19세이고, 인구수 : 717056

7. '총 인구수' 라는 키를 추가하고, 해당 키에 0세부터 24세까지의 인구 합을 데이터로 하여 population 데이터에 추가하시오.

In [120]:
# 7번 문제 답안 작성

result = []

for i in ['0~4세', '5~9세', '10~14세', '15~19세', '20~24세'] :
  result.append(sum(population[i]))

population['총 인구수'] = result

print(population)

{'행정기관': ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'], '0~4세': [214651, 68006, 53515, 69453, 29835], '5~9세': [210833, 68704, 58332, 68555, 29331], '10~14세': [269171, 94802, 91268, 86574, 29035], '15~19세': [335828, 124564, 101110, 106435, 49119], '20~24세': [343797, 125907, 96078, 102297, 43937], '총 인구수': [435460, 435755, 570850, 717056, 712016]}